matalino.ai

user-service

MYSQL

AccountCategory
id
categoryName [Basic, Pro, Scholar]

User
id
username
password
image
firstName
lastName
email
contact
account_category_id
date_created

File
id
content
user_id


lesson-service

MONGODB

Subject
id
title
description
lesson_category [default = 'default', 'ai']
modules: [
		{
			title
			topics: [
				{
					content
				}
			]
			quiz: {
				[
{
	question:
	choices: []
	answer:
},
{
	question:
	choices: []
	answer:
}]
			}
			
		}
]


Subject

Module
id
title
subject_id

Topic
id
contennt
module_id

MongoDB

Quiz
id
module_id
questions: [
{
	question:
	choices: []
	answer:
},
{
	question:
	choices: []
	answer:
}]

FinalExam
id
subject_id
questions: [
{
	question:
	choices: []
	answer:
},
{
	question:
	choices: []
	answer:
}]

exams-service

MockExam
id
title
category [default = 'default', 'ai']
questions: [
{
	question:
	choices: []
	answer:
},
{
	question:
	choices: []
	answer:
}]

ai-tools-service

MongoDB

Flashcard
id
title
questions: [
{
	question:
	choices: []
	answer:
},
{
	question:
	choices: []
	answer:
}]

Note
id
title
content
date_created










