spring:
  application:
    name: user_service

  datasource:
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASS}

  jpa:
    hibernate:
      ddl-auto: update

server:
  port: 8081


eureka:
  client:
    register-with-eureka: true
    serviceUrl:
      defaultZone: http://discovery-server:8761/eureka/






